.todos {
  margin-top: 100px;
}

.todos > h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}

.single-todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-todo-fields {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: 1px solid whitesmoke;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.todo {
  display: flex;
  align-items: center;
}

.todo > p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
}

.edit-delete {
  display: flex;
  align-items: center;
}

.edit-delete > span {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.editInput {
  padding: 8px;
  border: none;
  background: #e2e3e7;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.updateBtn {
  margin-left: 5px;
  color: green;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
}

.emptyIconArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.emptyIcon {
  font-size: 200px;
}

.emptyIconArea > p {
  font-size: 20px;
  font-weight: 600;
  color: #e2e3e7;
}
